<form method="POST" action="https://th-incubator-workshops.herokuapp.com/v3/entry/github/tobyhodges/staticman-test/main/workshop-submission">
  <input name="options[redirect]" type="hidden" value="https://carpentries-incubator.org/">
  <label><input name="fields[country]" type="text" required>Two-letter country code</label>
  <label><input name="fields[startdate]" type="text" required>Workshop start date (YYYY-MM-DD)</label>
  <label><input name="fields[enddate]" type="text">Workshop end date (YYYY-MM-DD)</label>
  <label><input name="fields[lesson_title]" type="text" required>Lesson title</label>
  <label><input name="fields[lesson_slug]" type="text" required>Lesson repository slug (after "carpentries-incubator/" in the repo URL)</label>
  <label><input name="fields[website]" type="text" required>Workshop website</label>
  <button type="submit">Submit workshop</button>
</form>
